$bg2color: #ddd;
$bg1color: #eee;
$fontcolor: #222;
$fontcolorweak: #666;
$fontcolorstrong: #e22;

$fonthyperlink1: #15d;
$fonthyperlinkhover1: #57f;
$fonthyperlink2: $fontcolor;
$fonthyperlinkhover2: $fonthyperlink2;

$accentcolor1: #08f;
$accentcolor2: #0f8;
$fontcoloronaccent1: #111;
$fontcoloronaccent2: #eee;

$codebgcolor: #f00;
$codefontcolor: #f00;
$codebgcolor1: #050505;
$codefontcolor1: #eee;
$codebgcolor2: #eee;
$codefontcolor2: #222;
